.filterBtns-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 430px;
  background-color: #faf8f7;
  margin: 15px auto 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}
.filterBtns {
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 8px 22px;
  cursor: pointer;
  background: #7f8ff4;
}
.filterBtns:hover {
  background: #6c7ff2;
}
.filterBtns:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.active_filterBtn {
  border: double;
}
