.todoList-container {
  display: block;
  position: relative;
  width: 450px;
  background-color: #faf8f7;
  margin: 5% auto 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}
.todoList-container ul {
  list-style: none;
  padding: 0;
}
.list-footer{
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  padding: 12px;
}
.clearCompleted{
  float: right;
  text-decoration: underline;
  cursor: pointer;
  font-size: 17px;
}
