.checked{
    text-decoration: line-through;
}
.unChecked{
    text-decoration: none;
}
span:hover{
    cursor:pointer;
}
/* .todo-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */